PORT = 5000
MONGODB_URI = mongodb+srv://seema_03:seema09@cluster0.vwnetjq.mongodb.net/eventhub?appName=Cluster0

EMAIL_USER = seemaluhach3082004@gmail.com
EMAIL_PASS = dfjpqkuivgiggenl

JWT-SECRET = sbhsgtecxfvhbjznwiueyvxgvdxbjdnju